table{
    width: 50%;
    margin: auto;
}
table, th, td {
    border-bottom: 1px solid #ddd;
    border-collapse: collapse;
}

thead{
    background-color: cornflowerblue;
    color: white;
    font-weight: 800;
}

td{
    text-align: right;
}

th{
    padding: 0.5em;
}

td{
    text-align: right;
    padding: 0.2em;
}