body {
    font-family:'Lucida Sans', 'Lucila Sans Regular', 'Lucida Grande', 'Lucila Sans Unicode', Geneva, Verdana, sans-serif;
}
    
.header {
    height: 10em;
    padding: 5em;
    font-size: 2.5em;
    background-image: url("../imgs/00.jpg");
    background-size: cover;
    background-position: center;
}
.header h1{
    margin: 0px;
    font-weight: 400;
    }

.products{
    width: 80%;
    margin: auto;
    }

.products td{
        width: 50%;
        padding: 2em;
    }

.products img{
        width: 100%;
        border: solid 1px #ddd;
    }

footer{
        height: 3em;
        line-height: 3em;
        background-color: rgb(185, 112, 41);
        color: white;
        text-align: center;
        font-weight: 900;
    }
